.gallery-item {
    overflow: hidden;
    border-radius: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 画廊图片 */
.gallery-image {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.gallery-image:hover {
    transform: scale(1.05);
}

